@model IEnumerable<ClothBazar.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<h2 style="margin:auto;width:300px">List of all Categories</h2>
<a  style="margin-left:900px;margin-top:20px;margin-bottom:20px"href="/category/create"class="btn btn-success">Add new</a> @*Action methodanem ,"kshyane del krycah"*@





<table class="table">
    <thead>
        <tr>
            <th style="text-align:center" scope="col">@Html.DisplayNameFor(Model => Model.Name)</th>
            <th style="text-align:center" scope="col">@Html.DisplayNameFor(Model => Model.Description)</th>
            <th style="text-align:center" scope="col">Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td style="text-align:center">@item.Name</td>
                <td style="text-align:center">@item.Description</td>
                <td style="text-align:center">
                    <a href="@Url.Action("Edit", new {@item.ID})" class="btn btn-warning" style="margin-right: 20px;">Edit</a>
                    <a href="@Url.Action("Delete", new {@item.ID})" class="btn btn-danger" >Delete</a> @*Action methodanem ,"kshyane del krycah"*@
                </td>
            </tr>
        </tbody>
    }
</table>


